html{
    touch-action: manipulation;
}
body{
    margin-left:0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.letters{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    padding: 0px;
    font-size: 35px;
    text-align: center;
}
.keyboard_buttons_row_1{
    margin-top:15px;
    margin-left: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.keyboard_buttons_row_2{
    margin-top:10px;
    margin-left: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.keyboard_buttons_row_3{
    margin-top:10px;
    margin-left: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
}
#my_table{
    border-spacing: 2px;
    padding: 0px;
}
#tahmin{
    text-align: center;
    height: 30px;
    width:60px;
}
#silme{
    margin-left:7px;
    margin-top:10px;
    height: 30px;
    width: 40px;
}
